# Used in supabase secrets, you only need to include this;
# Supabase related secrets are generally available for edge functions in production
# SUPABASE_SERVICE_ROLE_KEY=
# SUPABASE_URL=
# SUPABASE_JWT_SECRET=
MAILERLITE_API_URL=
MAILERLITE_API_KEY=
MAILGUN_API_KEY=
MAILGUN_DOMAIN=