# Used in supabase secrets, you only need to include this;
# supabase related secrets are generally available for edge functions
MAILERLITE_API_URL=
MAILERLITE_API_KEY=
MAILGUN_API_KEY=
MAILGUN_DOMAIN=